<div class="task-condition">
  <h2>Завдання на лабораторну роботу:</h2>
  <p>
    10. Базовий клас: Телефон (поле: кількість функцій - k.)<br />
    Метод: Вартість: 40ln(k)<br />
    Нащадок: Мобільний (поле - модель)<br />
    Зміни в нащадках: Збільшити вартість в 3 рази.
  </p>
</div>
<section id="phonecalc">

  <div class="calculator-container">
    <!-- Перша форма: Телефон -->
    <div class="frame phone-form">
      <h1>Телефон</h1>
      <div class="text">Кількість функцій (k):</div>
      <input type="number" [(ngModel)]="phone.functionCount" />
      
      <!-- Виведення повідомлення про помилку, якщо кількість функцій менше 1 -->
      <div *ngIf="phone.functionCount < 1" class="error-message">
        Кількість функцій повинна бути більше або дорівнювати 1.
      </div>

      <!-- Виведення вартості телефону тільки після натискання кнопки -->
      <div class="text" *ngIf="resultVisible">Вартість телефону: {{ phone.getCost() | number:'1.2-2' }} UAH</div>
    </div>

    <!-- Друга форма: Мобільний -->
    <div class="frame mobile-form">
      <h1>Мобільний</h1>
      <div class="text">Кількість функцій (k):</div>
      <input type="number" [(ngModel)]="mobile.functionCount" />
      <div class="text">Модель:</div>
      <input type="text" [(ngModel)]="mobile.model" />

      <!-- Виведення повідомлення про помилку, якщо кількість функцій менше 1 -->
      <div *ngIf="mobile.functionCount < 1" class="error-message">
        Кількість функцій повинна бути більше або дорівнювати 1.
      </div>

      <!-- Виведення вартості мобільного телефону тільки після натискання кнопки -->
      <div class="text" *ngIf="resultVisible">Вартість мобільного телефону (модель: {{ mobile.model }}): {{ mobile.getCost() | number:'1.2-2' }} UAH</div>
    </div>
  </div>

  <div class="button-container">
    <button class="button" (click)="calculateCosts()">Вивести результат</button>
  </div>
</section>
